@import url("https://fonts.googleapis.com/css?family=Montserrat");


a {
  text-decoration: none;
  font-weight: lighter;
  color: rgb(99, 98, 98);
}

.active {
  color: black;
  text-decoration: none;
  cursor: default;
  font-weight: bolder;
}
.active:hover {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
}



